{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% if about_me is none %}
    <h3 class="text-center">This page is still under construction. Please check back later.</h3>
{% else %}
    {% if about_me.title is not none %}
        <h3 id="about_me_title">{{ about_me.title }}</h3>
    {% endif %}
    <div id="about_me_content">
        {{ about_me.body|safe }}
    </div>
    <br><br>
    <div id="social_media_separator"></div>
    <br><br>
    <div class="row no-gutters" id="social_icons">
        <div class="col-sm padding-0" id="github_link">
            <a href="{{ about_me.git_url }}" target="_blank"><img src="{{ url_for('static', filename='images/GitHub-Mark.png') }}" class="social_icon" alt="GitHub Icon Image"></a>
        </div>
        <div class="col-sm padding-0" id="linkedin_link">
            <a href="{{ about_me.linkedin_url }}" target="_blank"><img src="{{ url_for('static', filename='images/LinkedIn_Icon.png') }}" class="social_icon" alt="LinkedIn Icon Image"></a>
        </div>
        <div class="col-sm padding-0" id="twitter_link">
            <a href="{{ about_me.twitter_url }}" target="_blank"><img src="{{ url_for('static', filename='images/Twitter-Icon.png') }}" class="social_icon" alt="Twitter Icon Image"></a>
        </div>
        <div class="col-sm padding-0" id="email_link">
            <a href="mailto:{{ about_me.email_addr }}" target="_blank"><img src="{{ url_for('static', filename='images/Email_Icon.jpg') }}" class="social_icon" alt="Email Icon Image"></a>
        </div>
    </div>
{% endif %}
{% endblock %}