{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% if blog_posts is not none %}
    {% for post in blog_posts %}
        <div class="post_preview">
            <h3><a href="{{ url_for('main.post', post_id=post.id) }}">{{ post.title }}</a></h3>
            <p>{{ preview_list[post.id] }}...</p>
            {% if post.tags is not none %}
            <span>{{ post.tags }}</span>
            {% endif %}
        </div>
    <br>
  {% endfor %}
{% else %}
  <h3 class="text-center">No Posts Available</h3>
{% endif %}
{% endblock %}