{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
{% if error is not none %}
    <h2 id="error_header">{{ error }}</h2>
{% else %}
    <h2 id="post_title">{{ blog_post.title }}</h2>
    <br><br>
    <div id="post_body">
        {{ blog_post.body|safe }}
    </div>
{% endif %}
{% endblock %}
</html>