{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="card wide-card-container">
    <form action="{{ url_for('admin.edit_about_me') }}" method="post" id="edit_about_me_form">
        <div class="hidden">
            {{ form.csrf_token }}
        </div>
        {{ wtf.form_field(form.title) }}

        {{ ckeditor.load(pkg_type="full-all") }}
        {% if about_me_body is not none %}
            {{ ckeditor.create(value=about_me_body) }}
        {% else %}
            {{ ckeditor.create() }}
        {% endif %}

        {{ wtf.form_field(form.git_url) }}

        {{ wtf.form_field(form.linkedin_url) }}

        {{ wtf.form_field(form.twitter_url) }}

        {{ wtf.form_field(form.email_address) }}

        {{ wtf.form_field(form.submit) }}
    </form>
</div>
{% endblock %}