{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div class="card wide-card-container">
    <form action="{{ url_for('admin.add_post') }}" method="post" id="new_blog_post_form">
        <div class="hidden">
            {{ form.csrf_token }}
        </div>
        {{ wtf.form_field(form.title) }}

        {{ ckeditor.load(pkg_type="full-all") }}
        {{ ckeditor.create() }}

        {{ wtf.form_field(form.draft) }}

        {{ wtf.form_field(form.submit) }}
    </form>
</div>
{% endblock %}