{% extends 'bootstrap/base.html' %}

{% block title %}
{% if title %}{{ title }} - Jeff's Blog{% else %}Welcome to Jeff's Blog{% endif %}
{% endblock %}

{% block navbar %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/site.css') }}" type="text/css">
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <a class="navbar-brand" href="#">Jeff Gegetskas's Blog</a>

    <ul class="nav">
        <li class="nav-item"><a class="nav-link" href="{{ url_for('main.index') }}">Home</a></li>
        {% if session['permission'] == 1 %}
        <li class="nav-item dropdown">
            <a data-toggle="dropdown" class="nav-link dropdown-toggle" href="#">Admin <strong
                    class="caret"></strong></a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="{{ url_for('admin.add_post') }}">Add Blog Post</a>
                <a class="dropdown-item" href="#">Edit Blog Post</a>
                <a class="dropdown-item" href="{{ url_for('admin.edit_about_me') }}">Edit About Me</a>
                <a class="dropdown-item" href="#">User Management</a>
            </div>
        </li>
        {% endif %}
        <li class="nav-item"><a class="nav-link" href="{{ url_for('main.all_posts') }}">All Blog Posts</a></li>
        <li class="nav-item"><a class="nav-link" href="{{ url_for('main.about_me') }}">About Me</a></li>
    </ul>
    <ul class="nav ml-auto">
        <form class="my-2 my-lg-0 form-inline" action="#">
            <input class="form-control mr-sm-2" type="search" placeholder="Search">
            <button class="btn btn-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        {% if current_user.is_anonymous %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.login') }}">Login</a></li>
       {% else %}
            <li class="nav-item"><a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a></li>
        {% endif %}
    </ul>
</nav>
<div class="container">
    {% endblock %}

    {% block content %}
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    {% block app_content %}{% endblock %}
</div>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/site.js') }}"></script>
<script src="https://cdn.ckeditor.com/4.10.0/standard/ckeditor.js"></script>
{% endblock %}